{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class='jumbotron'>
    <div class="row justify-content-left">
      <h1>{{job.title}}</h1>&nbsp;&nbsp;&nbsp;
      {% if job.claimedby.googleid == session['googleID'] %}
        <a href="/volunteer/{{ job.id }}/1"><button class="btn btn-primary">Unvolunteer</button></a>
      {% elif not job.claimedby and session['googleID'] != job.requestedby.googleid %}
        <a href="/volunteer/{{ job.id }}"><button class="btn btn-primary">Volunteer</button></a>
      {% endif %}
    </div>
    <div class="row justify-content-left">
      {% if session['googleID'] == job.requestedby.googleid %}
        <a href="/editjob/{{ job.pk }}">Edit</a>&nbsp; |&nbsp; <a href="/deletejob/{{ job.pk }}">Delete</a>
      {% endif %}
    </div>
    <div class="row justify-content-left">
      Requested by {{ job.requestedby.name }} on {{ job.createdatetime.strftime("%m/%d/%Y at %H:%M:%S") }}
    </div>
    {% if job.claimedby %}
      <div class="row justify-content-left">
        Claimed by {{ job.claimedby.name }}
      </div>
    {% endif %}
    <div class="row justify-content-left">
      Difficulty: {{ job.difficulty[4:] }}<br>
    </div>
    <div class="row justify-content-left">
    </div>
    <div class="row justify-content-left">
      <h5>{{ job.desc }}</h5>
    </div>
  </div>
</div>

{% endblock %}
