{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class='jumbotron'>
    <div class="row justify-content-center">
      <h1>Jobs</h1>
    </div>
    <div class="row justify-content-center">
      <a href="/newjob"><button class="btn btn-primary">New Job</button></a>
    </div>
  </div>
</div>
<table class="table">
  <tr><th>Title</th><th>Created</th><th>Requested by</th><th>Difficulty</th><th>Claimed By</th><th> </th></tr>
  {% for job in allJobs %}
  <tr>
    <td><a href="/job/{{job.id}}">{{ job.title }}</a></td>
    <td>{{ job.createdatetime.strftime("%m/%d/%Y at %H:%M:%S") }}</td>
    <td>{{ job.requestedby.name }}</td>
    <td>{{ job.difficulty[:1] }}</td>
    <td>
      {% if job.claimedby %}
        {{ job.claimedby.name }}
      {% else %}
        {% if job.requestedby.googleid != session['googleID'] %}
        <a href="/volunteer/{{ job.id }}">
          <button class="btn btn-primary">Volunteer</button>
        </a>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if session['googleID'] == job.requestedby.googleid %}
        <a href="/editjob/{{ job.pk }}">Edit</a>&nbsp;|&nbsp;<a href="/deletejob/{{ job.pk }}">Delete</a>&nbsp;
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
