{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class='jumbotron'>
    <div class="row justify-content-center">
      <table class="table">
        <tr align="center">
          <td width="50%" align="center" valign="bottom">
            <h1>Jobs</h1>
            <a href="/newjob"><button class="btn btn-primary">New Job</button></a>
          </td>
          <td align="left">
            <strong>Difficulty</strong><br>
            1 - a few mins, maybe just by email<br>
            2 - an hr max<br>
            3 - a couple hours<br>
            4 - a couple sessions<br>
            5 - regular sessions<br>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
<table class="table">
  <tr><th>Title</th><th>Created</th><th>Requested by</th><th>Category</th><th>Difficulty</th><th>Claimed By</th><th> </th></tr>
  {% for job in allJobs %}
  <tr>
    <td><a href="/job/{{job.id}}">{{ job.title }}</a></td>
    <td>{{ job.createdatetime.strftime("%m/%d/%Y") }}</td>
    <td>{{ job.requestedby.name }}</td>
    <td>{{ job.category }}</td>
    <td>{{ job.difficulty[:1] }}</td>
    <td>
      {% if job.claimedby %}
        {{ job.claimedby.name }}
      {% else %}
        {% if job.requestedby.googleid != session['googleID'] %}
        <a href="/volunteer/{{ job.id }}">
          <button class="btn btn-primary">Volunteer</button>
        </a>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if session['googleID'] == job.requestedby.googleid or session['role'] == 'admin' %}
        <a href="/editjob/{{ job.pk }}">Edit</a>&nbsp;|&nbsp;<a href="/deletejob/{{ job.pk }}">Delete</a>&nbsp;
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
