{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class='jumbotron'>
    <div class="row justify-content-center">
      <h1>Jobs</h1>
    </div>
    <div class="row justify-content-center">
      <a href="/newjob">New Job</a>
    </div>
  </div>
</div>
<table class="table">
  <tr><th> </th><th>Requested by</th><th>Created</th><th>Title</th><th>Hours</th><th>Description</th></tr>
  {% for job in allJobs %}
  <tr>
    <td>
      {% if session['displayName'] == job.requestedby.name %}
      <a href="/editjob/{{ job.pk }}">Edit</a> | <a href="/deletejob/{{ job.pk }}">Delete</a>
      {% endif %}
    </td>
    <td>{{ job.requestedby.name }}</td>
    <td>{{ job.createdatetime }}</td>
    <td>{{ job.title }}</td>
    <td>{{ job.hours }}</td>
    <td>{{ job.desc }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
