{% extends "base.html" %}

{% block body %}
<img src="{{user.image}}">
<table class="table">
<tr><td colspan=3><h2>Given by {{user.name}}</h2></td></tr>

    <tr><th>Recipient</th><th>amount</th><th>reason</th><th>Date</th></tr>
  {% for given in giver %}
    <tr>
      <td>
          <a href={{ "/transactions/%s" % given.recipient.id }}>{{given.recipient.name}}</a>
      </td>
      <td>
        {{given.amount}}
      </td>
      <td>
        {{given.reason}}
      </td>
      <td>
        {% if given.createdate %}
          {{given.createdate.strftime('%m-%d-%Y %I:%M.%S%p')}}
        {% endif %}
      </td>
    </tr>
  {% endfor %}


<tr><td colspan=3><h2>Received by {{user.name}}</h2></td></tr>
    <tr><th>Giver</th><th>amount</th><th>reason</th><th>Date</th></tr>
  {% for recipient in received %}
    <tr>
      <td>
          <a href={{ "/transactions/%s" % recipient.giver.id }}>{{recipient.giver.name}}</a>
      </td>
      <td>
        {{recipient.amount}}
      </td>
      <td>
        {{recipient.reason}}
      </td>
      <td>
        {% if recipient.createdate %}
          {{recipient.createdate.strftime('%m-%d-%Y %I:%M.%S%p')}}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
