{% extends "base.html" %}

{% block body %}
  {% if letters %}
    <h4>
    <a href="/users">All</a>&nbsp;&nbsp;&nbsp;
    {% for letter in letters %}
      <a href='/userstartswith/{{letter}}'>{{letter.upper()}}</a>&nbsp;&nbsp;&nbsp;
    {% endfor %}
    </h4>
  {% endif %}
  <table class="table">
    <tr><th>Reputation</th><th>Name</th></tr>
  {% for user in users.items %}
    <tr>
      <td width=100 align='center'>
        {% if user.reputation > 0 %}
          <h4>{{user.reputation}}</h4>
        {% endif %}
      </td>
      <td>
        <h4><a href="/transactions/{{user.id}}">{{user.name}}</a></h4>
      </td>
    </tr>
  {% endfor %}
  </table>


{# Macro for creating navigation links #}
{% macro render_navigation(pagination, users) %}
  <div class=pagination>
  <h4>Pages:&nbsp;</h4>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if paginate == 1 %}
      {% if page != pagination.page %}
        <h4><a href="{{ url_for(users, page=page) }}">{{ page }}</a>&nbsp;&nbsp;&nbsp;</h4>
      {% else %}
        <h4><strong>{{ page }}</strong>&nbsp;&nbsp;&nbsp;</h4>
      {% endif %}
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{{ render_navigation(users, 'users') }}

{% endblock %}
