{% extends "base.html" %}

{% block body %}
  {% if letters %}
    <h4>
    {% for letter in letters %}
      <a href='/userstartswith/{{letter}}'>{{letter}}</a>&nbsp;&nbsp;&nbsp;
    {% endfor %}
    </h4>
  {% endif %}
  <table class="table">
    <tr><th>Reputation</th><th>Name</th></tr>
  {% for user in users.items %}
    <tr>
      <td width=100 align='center'>
        {% if user.reputation > 0 %}
          <h4>{{user.reputation}}</h4>
        {% endif %}
      </td>
      <td>
        <h4><a href="/transactions/{{user.id}}">{{user.name}}</a></h4>
      </td>
    </tr>
  {% endfor %}
  </table>

{# Macro for creating navigation links #}
{% macro render_navigation(pagination, users) %}
  <div class=pagination>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <h4><a href="{{ url_for(users, page=page) }}">{{ page }}&nbsp;&nbsp;&nbsp;</a></h4>
      {% else %}
        <h4><strong>{{ page }}&nbsp;&nbsp;&nbsp;</strong></h4>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{{ render_navigation(users, 'users') }}

{% endblock %}
